.results-wrapper {
  display: inline-block;
  width: calc(100% - 325px);
  vertical-align: top;
}

.item {
  width: 100%;
  background: #ffffff;
  padding: 15px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: stretch;

  h3 {
    color: #157ab1;
    font-size: 16px;
  }

  .picture {
    min-width: 250px;
    height: 192px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .description {
    flex-basis: 100%;
    padding-left: 20px;

    .stars {
      padding: 5px 0 10px;

      img {
        width: 18px;
        height: 18px;
      }
    }

    .amenity {
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }
  }

  .price {
    min-width: 220px;
    border-left: 1px dashed #cccccc;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 25px 20px 20px 35px;

    h5 {
      font-weight: normal;
      font-size: 12px;
    }

    .value {
      color: #df6800;
      font-size: 32px;
      font-weight: bold;
      margin-top: 10px;

      .currency {
        font-size: 20px;
        font-weight: normal;
        position: relative;
        top: -2px;
        padding-right: 3px;
      }
    }

    a.view-hotel {
      cursor: pointer;
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      background: #002c77;
      padding: 10px;
      width: 100%;
      border-radius: 3px;
      border: none;
      text-decoration: none;
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .results-wrapper {
    width: calc(100% - 225px);
  }

  .item {
    .price {
      min-width: 200px;
      padding: 15px 10px 10px 35px;
    }

    .picture {
      min-width: 200px;
      height: 142px;
    }
  }
}

@media screen and (max-width: 900px) {
  .results-wrapper {
    width: 100%;
  }

  .item {
    flex-direction: column;
    padding: 10px;

    .description {
      padding: 15px 0 0;

      .stars {
        padding: 15px 0 15px;
      }
    }
  
    .price {
      border-top: 1px dashed #cccccc;
      border-left: none;
      padding: 15px 0 0;
      margin-top: 15px;
    }
  }
}