<div class="results-wrapper">
  <div *ngFor="let hotel of hotels" class="item">
    <div class="picture" [style.background-image]="'url(assets/images/hotels/' + hotel.image + ')'"></div>
  
    <div class="description">
      <h3>{{hotel.name}}</h3>
      <div class="stars">
        <img *ngFor="let star of starsIteration(hotel.stars)" src="/assets/icons/filters/star.svg">
      </div>
      <img *ngFor="let amenity of hotel.amenities" class="amenity" src="/assets/icons/amenities/{{amenity}}.svg" title="{{amenity}}">
    </div>
    
    <div class="price">
      <h5>Precio por noche por habitación</h5>
      <span class="value"><span class="currency">ARS</span>{{this.Math.round(hotel.price)}}</span>
      <a href="#" class="view-hotel">Ver hotel</a>
    </div>
  </div>

  <div *ngIf="hotels?.length === 0">
    No se encontraron resultados
  </div>
</div>
