header {
  display: flex;
	align-items: center;
  padding: 0px 10px;
  height: 75px;
  background:#002f71;
  margin-bottom: 40px;
  margin: 0;
  border-bottom: 2px solid #447199;

  h1 {
    background-image: url("/assets/images/logo.svg");
    background-repeat: no-repeat;
    display: block;
    position: relative;
    width: 232px;
    height: 48px;
    overflow: hidden;
    text-indent: -999px;
  }
}

.wrapper {
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  header {
    height: 55px;

    h1 {
      background-size: cover;
      width: 140px;
      height: 25px;
    }
  }

  .wrapper {
    padding: 10px;
  }
}