<div class="filters-toggle filters-section" (click)="toggleFilter.wrapper = !toggleFilter.wrapper">
    <h3>Filtrar</h3> <i>{{!toggleFilter.wrapper ? '▲' : '▼'}}</i>
</div>

<div class="filters-sidebar" [ngClass]="{'expanded-wrapper': toggleFilter.wrapper}">
  <div class="filters-section filters-title">
    <h3>Filtros</h3>
  </div>

  <div class="filters-section">
    <div class="section-title search" [ngClass]="{'expanded': toggleFilter.search}" (click)="toggleFilter.search = !toggleFilter.search"> 
      <h3>Nombre de hotel</h3> <i>{{toggleFilter.search ? '▲' : '▼'}}</i>
    </div>

    <div *ngIf="toggleFilter.search">
      <input class="hotels-search-input" type="text" placeholder="Ingrese el nombre del hotel" [(ngModel)]="name">
      <button class="button" type="submit" (click)="searchHotel(name)">Aceptar</button>
    </div>
  </div>

  <div class="filters-section">
    <div class="section-title stars" [ngClass]="{'expanded': toggleFilter.stars}" (click)="toggleFilter.stars = !toggleFilter.stars">
        <h3>Estrellas</h3> <i>{{toggleFilter.stars ? '▲' : '▼'}}</i>
    </div>

    <div class="stars-selection-wrapper" *ngIf="toggleFilter.stars">
      
      <div class="stars-selection">
        <input type="checkbox" name="all" value="all" checked><label> Todas las estrellas</label>
      </div>

      <div class="stars-selection" *ngFor="let option of options">
        <input type="checkbox" name="{{option.name}}" (change)="searchStars(option.value, option.checked)" value="{{option.value}}" [(ngModel)]="option.checked"> 
        <label><img *ngFor="let star of starsIteration(option.value)" src="assets/icons/filters/star.svg"></label>
      </div>

    </div>
  </div>

</div>