 .filters-sidebar {
   display: inline-block;
   margin-right: 20px;
   vertical-align: top;
   width: 300px;

  .filters-title h3 {
    font-size: 16px;
  }

  .filters-section {
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;

    .hotels-search-input {
      height: 30px;
      width: 180px;
      padding: 0 10px;
    }

    button {
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      background: #002c77;
      padding: 5px 10px;
      border-radius: 3px;
      border: none;
      margin-left: 15px;
      text-decoration: none;
    }
  }

  .section-title {
    cursor: pointer;

    &.expanded {
      margin-bottom: 15px;
    }
        
    &.search h3:before{
      content: '';
      background: url('/assets/icons/filters/search.svg') no-repeat;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: text-top;
      margin: 2px 10px 0 0;
    }

    &.stars h3:before{
      content: '';
      background: url('/assets/icons/filters/star-title.svg') no-repeat;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: text-top;
      margin: 2px 10px 0 0;
    }

    h3 {
      color: #157ab1;
      font-size: 14px;
      font-weight: bold;
      display: inline; 
    }

    i {
      color: #157ab1;
      font-size: 12px;
      float: right;
    }
  }
  
  
  .stars-selection {
    margin: 10px 0;

    &:last-child {
      margin-bottom: 0;
    }
    
    label {
      vertical-align: top;
      font-size: 13px;
      font-weight: bold;
      padding-left: 5px;
    }

    label img {
      vertical-align: top;
      margin: 1px 5px 0 0;
      width: 12px;
      height: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.filters-toggle {
  display: none;
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .filters-sidebar {
    width: 200px;
    
    .filters-section {
      .hotels-search-input {
        width: 100%;
      }

      button {
        margin: 10px auto 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .filters-sidebar {
    width: 100%;
    display: none;
    margin-right: 0;

    .filters-section {
      .hotels-search-input {
        width: 100%;
      }

      button {
        margin: 10px auto 0;
        width: 100%;
        padding: 10px 0;
      }
    }

    &.expanded-wrapper {
      display: inline-block;
    }

    .filters-title {
      display: none;
    }
  }

  .filters-toggle {
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    text-align: center;
    display: block;
    cursor: pointer;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;

    h3 {
      color: #157ab1;
      font-size: 14px;
      font-weight: bold;
      display: inline; 
    }

    i {
      color: #157ab1;
      font-size: 12px;
      float: none;
    }
  }
}